# Production profile configuration

spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  liquibase:
    enabled: true

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://eureka-server:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
